services:
  db:
    image: mariadb:latest
    container_name: zm-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: zm
      MYSQL_USER: zmuser
      MYSQL_PASSWORD: zmpassword
    volumes:
      - zm-db-data:/var/lib/mysql

  web:
    build: ./web
    container_name: zm-web
    restart: always
    shm_size: '1gb' # TRÈS IMPORTANT pour les flux vidéo
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      - ZM_DB_HOST=db
      - MYSQL_USER=zmuser
      - MYSQL_PASSWORD=zmpassword
    volumes:
      - zm-events:/var/lib/zoneminder/events
      - zm-images:/var/lib/zoneminder/images

volumes:
  zm-db-data:
  zm-events:
  zm-images:
